<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <title>Welcome {{user.first_name}}</title>
  </head>
  
  <body style="background-image: url('https://previews.123rf.com/images/vectorknight/vectorknight1802/vectorknight180200018/94728914-blogging-concept-illustration-idea-of-writing-blog-and-making-content-for-social-media-digital-conce.jpg')">
    <h1 class="display-2 text-center"><strong>Welcome {{user.first_name}}</strong></h1>
    <h6 class= "display-6 text-center">click here (^_^)</h6>
  </body>
  <div>
        <a class="btn btn-primary btn-lg " style="margin-left: 657px ;" href="/home/" role="button" style="background-color: dimgray">Go To Home</a>
    </div>
      <div class="row">
      </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</html>
