{% extends 'base.html' %} %}
{% block title %} blog about
{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<main role="main" >
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron"  >
    <div class="container" style="background-color: mistyrose">
      <h1 class="display-3">Blog App!</h1>
      <p> Businesses operate in an ever changing landscape of technology and consumer demands.

        It is becoming increasingly important for small businesses to develop a strong web presence to engage and communicate with their customers.
        
        While creating a highly developed website is a key component in establishing a comprehensive online marketing and branding strategy, the global economy's dynamic nature requires businesses to go further.
        
        One of the most effective ways to build brand awareness, while providing relevant and useful content to your target audience is through consistent blogging.
        Blogging is an inexpensive way for small businesses to drive traffic to their site, enhance inbound marketing efforts and attract more perspective customers.
        
        According to a recent inbound marketing report, nearly 80% of companies that use blogging as a part of their marketing strategy reported acquiring customers through their blogging efforts. 
        
        Additionally, 82% of businesses admit that blogging is critical to their business.</p>
      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/" role="button" style="background-color: dimgray">Learn more »</a></p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row" >

      <div class="col-md-4" style="background-color: antiquewhite">
        <h2>Increase your SEO/SERP:</h2>
        <p>
          Blogs increase your SEO. Fresh content is still a key to beating out your competitors in the search engine results page.
          Use keywords in your articles. List out the keywords, topics, and categories you want your business to be found with
        </p>
        <p><a class="btn btn-secondary" href="https://blog.wishpond.com/post/47804902390/4-reasons-why-blogging-is-important-for-your-business" role="button">View details »</a></p>
      </div>

      <div class="col-md-4" style="background-color: antiquewhite">
        <h2>Position your brand </h2>
        <p>
          Well written articles demonstrate your company as an industry leader. By posting topics which resonate with your market and show your knowledge, you are marketing your skills for your business, service or product too.
          If you are a retailer, for example, write blog posts about your products. Your customers will get to know you as the knowledge source for the products they want.
          If you are in B2B, post articulate, well researched articles about your service. Become the hub, or the place to be, for your industry.
        </p>
        <p><a class="btn btn-secondary" href="https://blog.wishpond.com/post/47804902390/4-reasons-why-blogging-is-important-for-your-business" role="button">View details »</a></p>
      </div>

      <div class="col-md-4" style="background-color: antiquewhite">
        <h2>Goals</h2>
        <p>
          Develop better customer relationships:Blogs provide another source to deepen the connection with your customer. 
          By connecting directly on your website, your clients are able to get to know your business or product from the comfort of your online home base.
        </p>
        <p><a class="btn btn-secondary" href="https://blog.wishpond.com/post/47804902390/4-reasons-why-blogging-is-important-for-your-business" role="button">View details »</a></p>
      </div>
    </div>
    <hr>
  </div>
</main>
{% endblock body %}
